
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',Sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color:#ffffff;
    --second-bg-color:#ffffff;
    --border-color:#ae00ff98;
    --border:#6b3b90;
    --text-color:#000000;
    --text-second-color:#000000;
    --second-color:#000000;
    --main-color:#a201ff;
    --big-font:5rem;
    --h2-font:3rem;
    --p-font:1.1rem;
}

header
{
    background-color:var(--second-bg-color);
    color: #ffffff;
    color:var(--second-bg-color);
    position:fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 15px 14%;
    border-bottom: 1px solid transparent;
    transition:all.45s ease;
}
.logo
{
    position: relative;
    right: 200px;
    color:var(--text-second-color) ;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 2px 8px 5px rgb(194, 158, 199);
}
.span
{
    font-size: 33px;
    color: var(--main-color);
}
.navlist
{
    display: flex;
    position: absolute;
    right: 150px;
}
.navlist a{
    color: var(--second-color);
    font-size: 18px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
}
.navlist a:hover{
    color: var(--main-color);
}
.navlist a.active{
    color: var(--main-color);
}
#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    z-index: 1000;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

