
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',Sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color:#ffffff;
    --second-bg-color:#ffffff;
    --border-color:#ae00ff98;
    --border:#6b3b90;
    --text-color:#000000;
    --text-second-color:#000000;
    --second-color:#000000;
    --main-color:#a201ff;
    --big-font:5rem;
    --h2-font:3rem;
    --p-font:1.1rem;
}
body {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-top: 200px;
    background-image: url("px.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #000;
    font-family: 'Montserrat',sans-serif;

}
header
{
    background-color:var(--second-bg-color);
    color: #ffffff;
    color:var(--second-bg-color);
    position:fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 15px 15%;
    border-bottom: 1px solid transparent;
    transition:all.45s ease;
}
.logo
{
    position: relative;
    right: 200px;
    color:var(--text-second-color) ;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 2px 8px 5px rgb(194, 158, 199);
}
.span
{
    font-size: 33px;
    color: var(--main-color);
}
.navlist
{
    display: flex;
    position: absolute;
    right: 150px;
}
.navlist a{
    color: var(--second-color);
    font-size: 18px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
}
.navlist a:hover{
    color: var(--main-color);
}
.navlist a.active{
    color: var(--main-color);
}
#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    z-index: 1000;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}
.home
{
    position: relative;
    height: 100vh;
    width: 100%;
    bottom: 100px;
    background-color: rgba(0,0,0,0.8);
   
    background-blend-mode: darken;
    background-size:cover;
    background-position: center;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    
}
.slider {
 overflow: hidden;
 width: 100vw;
 height: 100vh;
 position: relative;
    
 filter: brightness(50%);
  
}
 
.slider .slide {
 position: absolute;
 top: 0px;
 
 left: 0px;
 width: 100%;
 height: 100%;
 background-size: cover;
 
 animation: slider 12.5s infinite;
}
 
.slider .slide:nth-child(1) {  
   background-image: url('hostel-room1.jpg');
   animation-delay: 0s;
  background-blend-mode: darken;
   filter: brightness(50%); 
   
}

.slider .slide:nth-child(2) {
   filter: brightness(50%); 
   background-image: url('hero_bg_1.jpg');
   animation-delay: -2.5s;
    
}

.slider .slide:nth-child(3) {
	 
   background-image: url('slide-1.jpg') ;
   filter :brightness(50%);
   animation-delay: -5s;
}

.slider .slide:nth-child(4) {
    
   background-image: url('slide-3.jpg');
   animation-delay: -7.5s;
    filter: brightness(50%);
}

.slider .slide:nth-child(5) {
	
   background-image: url('slide-2.jpg');
   animation-delay: -10s;
   filter: brightness(50%);    
}
@keyframes slider {
 0%, 16%, 100% {
   transform: translateX(0);
   animation-timing-function: ease;
 }
 20% {
   transform: translateX(-100%);
   animation-timing-function: step-end;
 }
 96% {
   transform: translateX(100%);
   animation-timing-function: ease;
 }
}
.ibody{
  z-index:100;
   position:fixed;
  bottom: 100px;
  width: 1000px;
    left: 10px;
  
 
}.top{
    color: #dddddd;
 }
.top p{
    left: 10px;
    position:absolute;
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  letter-spacing: 0.05em;
}
.top br{
  margin-bottom: 0rem;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  letter-spacing: 0.05em;
}
.intro-title{
	color: rgb(255, 255, 255);
	font-size: 3.9rem;
	letter-spacing: 0.05em;
	
}
.intro-title span{
	color:var(--main-color);
	font-size: 3.9rem;
	letter-spacing: 0.05em;
}








